/*
color : #6b9898; green ish
background-color: #f6f6f6; white ish
color: #444; default text color black ish
*/
body{
  font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    color: #444;
    margin: 0px;
}
h1,h2,h3,h6{
  text-transform: uppercase;
  font-weight: 400;
}
h1{
  font-size: 7em;
}
h3{
  font-size: 3em;
}
h6{
  font-size: 1.8em;
}
section{
  text-align: center;
  padding:40px;
}
/****************************************************************
  TOP HEADER
*****************************************************************/
.top-header{
 border:solid red 3px;
 position: relative;
}
.top-header p{
  font-size: 3em;
}
.down{
  padding-top: 50px;
}
/****************************************************************
  NAV HEADER
*****************************************************************/
.nav-header{
  background-color:#000;
  position: absolute;
  left: 0px;
  right:0px;
  bottom:0px;
  padding-left: 80px;
  padding-right: 80px;
}
.nav-header .site-title{
  display: inline-block;
  width:49%;
}
.nav-header .site-title h2{
  font-size: 2em;
  text-align: left;
}
.nav-header nav{
  display: inline-block;
  width: 50%;
}
.menu-header-container{
  text-align: right;
}
.menu-header-container ul li{
  display: inline-block;
  text-decoration: none;

}
.menu-header-container ul li a{
  padding: 2px 8px;
}
/****************************************************************
  ABOUT ME SECTION
*****************************************************************/
.about-me{
 background-color: #f6f6f6;
}
/****************************************************************
  GOOD AT SECTION
*****************************************************************/
.good-at ul{

}
.good-at ul li{
  display: inline-block;
  width: 15%;
}
/****************************************************************
  RECENT WORKS SECTION
*****************************************************************/
.recent-works{
  background-color: #f6f6f6;
}
.recent-works ul li{
  display: inline-block;
  width: 33%;
}
.recent-works ul li img{
  display: block;
  height: 200px;
}
/****************************************************************
   CONTACT SECTION
*****************************************************************/
.contact{
  background-color: #f6f6f6;

}
/****************************************************************
   BACKGROUND VIDEO SECTION
*****************************************************************/
.background-video{
  position: fixed;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  background-color: #6b9898;
  z-index: -1;
}
