/*
color : #6b9898; green ish
background-color: #f6f6f6; white ish
color: #444; default text color black ish
*/
body{
  font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    color: #444;
    margin: 0px;
}
 h2,h3,h6{
  text-transform: uppercase;
  font-weight: 400;
}
h1{
  font-size: 7em;
}
h3{
  font-size: 3em;
  margin-top: 60px;
  font-weight: bold;
  padding-top:20px;
  padding-bottom: 0px;
  margin-bottom:30px;
}
h6{
  font-size: 1.8em;
  margin-top:0px;
  margin-bottom: 40px;
}
section{
  text-align: center;
  padding:40px;
}
.green{
  color:#6b9898;
}
/****************************************************************
  TOP HEADER
*****************************************************************/
.top-header{
 padding-top: 10%;
 position: relative;
 color: #fff;
 text-transform: uppercase;
}
.top-header p{
  font-size: 3em;

}
.down{
  padding-top: 50px;
}
.down a{
  color: #fff;
  font-size: 4em;
  transition: font-size .2s;
}
.down a:hover{
  color : #6b9898;
  font-size: 4.2em;


}

/****************************************************************
  NAV HEADER
*****************************************************************/
.nav-header{
  background-color:#000;
  z-index: 5;
  left: 0px;
  right:0px;
  padding-left: 80px;
  padding-right: 80px;
}
.nav-header-top{
  position: fixed;
  top:0px;
}
.nav-header-bottom{
  position: absolute;
  bottom:0px;
}

.nav-header .site-title{
  display: inline-block;
  width:49%;
}
.nav-header .site-title h2{
  font-size: 2em;
  text-align: left;
}
.nav-header .site-title h2 a{
    color:#fff;
    text-decoration: none;
}
.nav-header nav{
  display: inline-block;
  width: 50%;
}
.menu-header-container{
  text-align: right;
}
.menu-header-container ul li{
  display: inline-block;
  text-decoration: none;

}
#menu-item-7{
  color: #fff;
}
.menu-header-container ul li a{
  padding: 2px 8px;
}
.menu-header-container ul li a:hover{
  cursor: pointer;
}
/****************************************************************
  ABOUT ME SECTION
*****************************************************************/
.about-me{
 background-color: #f6f6f6;
}
.about-me h6{
  margin-bottom: 20px;
}
.about-me video{
  width:60%;
}
.social-icons ul{
  padding-top:0px;
}
.social-icons ul li{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.social-icons ul li a{
  font-size: 2.5em;
  color:#6b9898;
}
.social-icons ul li a:hover{
  color: #444;
}

/****************************************************************
  GOOD AT SECTION
*****************************************************************/
.good-at h3{
  color:#fff;
  margin-bottom: 70px;
}
.good-at ul li{
  display: inline-block;
  width: 19%;
  text-align: center;
}
.box{
   margin-left: 25%;
}
.good-at-title{
  color:#c6ff00;
  display: block;
}
/****************************************************************
  RECENT WORKS SECTION
*****************************************************************/
.recent-works{
  background-color: #f6f6f6;
  padding: 40px 0px 0px 0px;
}
.recent-works ul{
  padding:0px;
  margin:0px;
  margin-left: -2px;
}
.recent-works ul li{
  display: inline-table;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33%;
  height: 250px;
}
.recent-works ul li img{
  display: block;
  width:100%;
}
.background-hover{
  width:100%;
  height:100%;
  background-color:inherit;
  transition: background-color 1s;
}
.background-hover a{
  display: block;
  font-size: 3em;
  padding-top:50px;
  color:rgba(255, 255, 255,0.2);
  transition: color 1s;
  height: 80%;
}
.background-hover a:hover{
  color:rgba(255, 255, 255,0.9);
}
.background-hover:hover{
  background-color: rgba(0, 0, 0,0.4);
}
/****************************************************************
   CONTACT SECTION
*****************************************************************/
.contact{
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-top:0px;
}
.contact-inner{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom:0px;
  background-color: rgba(0,0,0,0.7);
}
.contact-inner header{
  color: #fff;
}
.contact-inner header h6{
  margin-bottom: 10px;
}
.contact-section-outer{
  width:70%;
  margin: auto;
  position: relative;
}
.contact-section-outer aside{
  display: inline-table;
  width:30%;
}
.contact-section-outer aside div{
  height: 50px;
  text-align: left;
}
.contact-section-outer aside div p{
  color:#fff;
  font-size: 1.4em;
  padding-top:0px;
  margin-top:0px;
}
.contact-icon{
  margin-right: 10px;
}
.contact-section-outer .contact-form{
  display: inline-table;
  width: 69%;
  text-align: left;
}
.contact-form form{
  width: 80%;
}
.contact-form form p{
  margin-top: 0px;
}
.contact-form form p input{
  border: none;
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  text-indent: 1em;
  font-size:1.2em;
  color:#fff;
}
.contact-form form p textarea{
  text-indent: 1em;
  border: none;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  font-size:1.3em;
  color:#fff;
}
div.wpcf7-response-output{
  margin-top: 0px;
}
.wpcf7-not-valid-tip{
  color:#c6ff00 !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
  color:#c6ff00;
  border: solid #c6ff00 1px;
  margin-bottom: 0px;
}
.wpcf7-response-output, .wpcf7-display-none, .wpcf7-mail-sent-ng{
  color:#c6ff00;
  border: solid #c6ff00 1px !important;
  margin-bottom: 0px;
}

/****************************************************************
   BACKGROUND VIDEO SECTION
*****************************************************************/
.background-video{
  position: fixed;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  background-color: #6b9898;
  z-index: -1;
}
.background-video video{
  left:0px;
  right:0px;
}
/****************************************************************
   FOOTER SECTION
*****************************************************************/
.social-icons-footer ul{
  padding-top:0px;
  text-align: center;
}
.social-icons-footer ul li{
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}
.social-icons-footer ul li a{
  font-size: 3em;
  color:#c6ff00;
}
.social-icons-footer ul li a:hover{
  color: #444;
}
